body {
    background-color: white;
}

.navbar {
    text-align: center;
    height: 100px;
    background-color: lightyellow;
}
.imgleft {
    margin-left: 100px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:50px;
    background-color: black;
    color: white;
    text-align: center;
}
.centerimg {
    margin-right: 150px;
    margin-top: 30px;
}

.lab {
    box-shadow: inset 0 0 0 0 white;
    color: black;
    margin-top: 40px;
    font-size:xx-large;
    text-align: center;
    transition: color .2s ease-in-out, box-shadow .3s ease-in-out;
    width:100%;
}

    .lab:hover {
        color: blue;
        box-shadow: inset 1300px 0 0 0 white;
    }

.TextBox {
    border-radius: 5px;
    text-align: left;
}

    .TextBox:focus {
        outline: none;
        box-shadow: 0px 0px 5px blue;
        border-color: blue;
        border-radius: 5px;
    }

input:hover {
    border: 3px solid blue;
    border-radius: 5px;
}

.btn {
    color: white;
    background-color: blue;
    width: 150px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
    border: white;
    margin-left:0px;
    margin-top:35px;
}

.btn:hover {
        background-color: darkgreen;
        border-radius: 15px;
        border: white;
}
.field16 {
    margin-left: 0px;
    margin-top:-40px;
}

::selection {
    background: #4158d0;
    color: #fff;
}

.wrapper {
    width: 380px;
    margin-top: -40px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}

    .wrapper .title {
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        line-height: 100px;
        color: #fff;
        user-select: none;
        border-radius: 15px 15px 0 0;
        background-color: lightyellow;
    }

    .wrapper form {
        padding: 10px 30px 50px 30px;
    }

        .wrapper form .field {
            height: 50px;
            width: 100%;
            margin-top: 20px;
            position: relative;
        }

            .wrapper form .field input {
                height: 100%;
                width: 100%;
                outline: none;
                font-size: 17px;
                padding-left: 20px;
                border: 1px solid lightgrey;
                border-radius: 25px;
                transition: all 0.3s ease;
            }

                .wrapper form .field input:focus,
                form .field input:valid {
                    border-color: #4158d0;
                }

            .wrapper form .field label {
                position: absolute;
                top: 50%;
                left: 20px;
                color: #999999;
                font-weight: 400;
                font-size: 17px;
                pointer-events: none;
                transform: translateY(-50%);
                transition: all 0.3s ease;
            }

form .field input:focus ~ label,
form .field input:valid ~ label {
    top: 0%;
    font-size: 16px;
    color: #4158d0;
    background: #fff;
    transform: translateY(-50%);
}

form .content {
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
}

    form .content input {
        width: 15px;
        height: 15px;
        background: red;
    }

    form .content label {
        color: #262626;
        user-select: none;
        padding-left: 5px;
    }
.title1 {
    background-color: lightyellow; 
    color:black; 
    margin-top:-90px;
}

